<div class="bootstrap-wrapper">
    <h1>Available Quizzess</h1>
    <div class="container-fluid">
        <div class="row" *ngIf="quizess">
            <div class="col-md-4 " *ngFor="let q of quizess">
                <mat-card class="mb20">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>
                            {{q.title}}
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{q.category.title}}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="truncate">{{q.description}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button class="mb2" mat-button color="primary">View</button>
                        <button mat-button [routerLink]="'/user-dashboard/instructions/'+q.qId" color="accent">Start</button>
                        <button mat-button color="accent">Question: {{q.numberOfQuestions}}</button>
                        <button mat-button color="accent" class="mt2">M.M: {{q.maxMarks}}</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-md-12" *ngIf="quizess.length == 0 ">
                <mat-card>
                    <mat-card-content>
                      <h2>  No quiz in this category</h2>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <!-- {{quizess | json}} -->